*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    height: 100%;
    width: 100%;
    /*background-image:url(mains.jpg); */
    background-position: center;
    background-size: cover;
    position: absolute;
}

.formbox{
    width: 380px;
    height:100%;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden; 
}
.buttonbox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #2469ffc7;
    border-radius: 30px;
}
.toggle-button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #0ab627, #2049db);
    border-radius: 30px;
    transition: .5s;

}
.icons{
    margin: 30px auto;
    text-align: center;
}
.icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%; 
}
.user-infomation{
    top: 270px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.inputbox{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.subbtn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer; 
    display: block;
    margin: auto;
    background: linear-gradient(to right, #0ab627, #2049db);
    border: 0;
    outline: none;
    border-radius: 30px;


}
.chkbox{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#cteact{
    left: 450px;
}